<?php

return array(
    'view_manager' => array (
        'display_not_found_reason' => true,
        'display_exceptions' => true,
    ),
    'mail' => array (
        'sendAllMailsTo' => array( // us this in development env
            'some-name@gamil.com'
        ),
        'sendAllMailsToBcc' => null,  // Add additional receivers, usually empty array for local
        'smtpOptions' => array (  // if smtp options not set then simple mail is used
            'name' => 'some-name.ee',
            'host' => 'smtp.gmail.com',
            'port' => '25',
            'connection_class' => 'login',
            'connection_config' => array (
                'ssl' => 'tls',
                'username' => 'some-name@gamil.com',
                'password' => 'some-password'
            )
        )
    ),
    'error_reporting' => array(
        'subject' => 'Some subject form error mails',
        'emails' => array(
            'some-name@gamil.come'
        ),
        'from_address' => 'some-name@gamil.com',
    ),
    'user' => array(
        'password' => array(
            'forgotPasswordLinkLife' => 2,
            'globalSalt' => 'sdilhfksd',
        )
    ),
    'id-services' => [
        'enable-id-login' => true, //enable/disable ID card login
        'enable-mobile-id-login' => true,  //enable/disable Mobile ID login
        'loggerEnabled' => true,
        'url' => 'https://www.openxades.org:9443/?wsdl',   // this url is for testing. more info about ID card login : http://www.id.ee/index.php?id=30469
        'serviceName' => 'Testimine', // this service name is for testing.
        'message' => 'Some message',
     // 'bindTo' => 'Some IP address :0'  // set this IP address if using Dedicated IP
    ],
    'registerOptions' => array(
        'addPersonalCode' => true,
        'addPhone' => true,
        'addFirstName' => true,
        'addLastName' => true
    )

);